<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <script src="./js/bitcore-lib.min.js"></script>
    <script src="./js/bitcore-lib-cash.min.js"></script>
    <script src="./js/bitcore-lib-ltc.min.js"></script>
    <script src="./js/dashcore-lib.min.js"></script>
    <script src="./js/bitcore-lib-doge.min.js"></script>
    <script src="./js/bitcore-lib-sv.min.js"></script>
    <script src="./js/ravencore-lib.min.js"></script>
    <script src="./js/bitcoin.js"></script>
    <script src="./js/bitcoincash.js"></script>
    <script src="./js/dogecoin.js"></script>
    <script src="./js/litecoin.js"></script>
    <script src="./js/dash.js"></script>
    <script src="./js/bitcoinsv.js"></script>
    <script src="./js/zilliqa.min.js"></script>
    <title>SimpleHold Wallet | Send confirmation</title>
  </head>
  <body>
    <div id="send-confirmation"></div>
  </body>
</html>
